  .container-busqueda{
    align-items: center;
    border-radius: 12;
  
  }
 

  .boton-busqueda{
   align-items: center;
   border-radius: 12;
  
  }

  .card img{
    max-width: 300px;
    width: 50%;
    height: 50%;
    max-height: 300px;
    display: block;
    object-fit: cover;
  }
  
  
  header {
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    text-decoration:double;
    text-transform: capitalize;
    color: #212529;
    padding: 10;
    background-color: #212529;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
  }

  footer{
    color: black;
    background-color: black;
  }
  
  .card{
    min-width: 50%;
    min-height: 400px;
    overflow: hidden;
    padding: 1px;
    margin: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: 0.5s linear;
  }
  #home{
    margin-left: 2px;
    width: 3%;
  }
  .card h3{
    text-transform: uppercase;
    margin: 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
  }
  .card h3 a{
    text-decoration: none;
    color: #333;
  }
  #nombremt{
    width: 50%;
  }

  .card.h4{
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    margin: 10px 0;
  }
  .card.h4 a{
    text-decoration: none;
    color: #333;
  }

  
  

  .card h6{
    color:grey;
  }

  .card p{
    margin: 10px 0;
  }
